---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Bruno Mollo">
  <div>
    <img
      class="rounded-full"
      src="https://media.licdn.com/dms/image/C4D03AQFYUYOGameJEw/profile-displayphoto-shrink_200_200/0/1659026067610?e=1727308800&v=beta&t=sajS_9bJJ8t6Hbzg3whdwLQopy_fJGZfh-PSicYXorE"
      alt="Bruno Mollo's Profile"
    />
    <h1 class="text-6xl">Bruno Mollo</h1>
  </div>
</Layout>
