---
import Card from "../components/Card.astro";
import Landing from "../components/Landing.astro";
import Layout from "../layouts/Layout.astro";
import ShovelIcon from "../icons/ShovelIcon.astro";
---

<Layout title="Bruno Mollo">
  <header class="pt-10">
    <Landing />
  </header>
  <hr class="invisible h-10" />
  <div
    class="md:px-42 flex max-w-6xl flex-col items-center gap-4 px-6 sm:px-20"
  >
    <div class="flex w-full">
      <h2
        class="text-5xl font-bold underline"
      >
        Experience
      </h2>
      <figure class="pl-2">
        <ShovelIcon />
      </figure>
    </div>
    <Card
      company="Iboux"
      roles={[
        {
          name: "Systems Team Leader",
          start: new Date(2024, 6, 1),
          end: null,
        },
        {
          name: "Systems Integration Specialist",
          start: new Date(2024, 6, 1),
          end: null,
        },
      ]}
    />
    <Card
      company="Tribal Consulting"
      roles={[
        {
          name: "FullStack Developer",
          start: new Date(2023, 2, 1),
          end: new Date(2023, 7, 1),
        },
      ]}
    />
  </div>
</Layout>
